{% extends 'physiotherapy/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Список процедур</h2>
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Название</th>
                <th>Тип процедуры</th>
                <th>Длительность (мин)</th>
                <th>Стоимость</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for procedure in procedures %}
            <tr>
                <td>{{ procedure.name }}</td>
                <td>{{ procedure.get_procedure_type_display }}</td>
                <td>{{ procedure.duration }}</td>
                <td>{{ procedure.cost }} ₽</td>
                <td>{{ procedure.description|default:"-" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Процедур нет.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
